## Url on which Morpheus will be reachable.
## For more details on configuring appliance_url see:
## https://docs.morpheusdata.com
appliance_url 'https://{{ ip_response.content }}'

#nginx['ssl_certificate'] = ''
#nginx['ssl_server_key'] = ''


